name: EAS BUILD ANDROID APK AND SEND EMAIL

on:
  push:
    branches:
      - main # Está é a branch principal para build e gerar o apk no 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v3

      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 20.19.1

      - name: Install all dependancy
        run : |
          npm install -g expo-cli eas-cli
          npm install

      - name: EAS build Android (production)
        env: 
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
        run: |
          eas build --platform android --profile production --non-interactive
